<div class="row">
	<p class="span6 justify">
		Les <b>K'aaks</b>, du nom du désert qui recouvre l'ensemble de leur territoire, sont une race aux traits fortement humains mais présentant cependant quelques caractéristiques reptiliennes. Ils ont ainsi développé une membrane nictitante protégeant leurs yeux des rafales de sable. C'est un peuple troglodyte et à l'organisation tribale, vivant principalement dans des réseaux de cavernes dans le sol à l'abri du soleil brûlant. Leur peau épaisse est également recouverte d'une très fine couche d'écailles chitineuses, presque transparente mais donnant tout de même un aspect jaune cuivré à celle ci.
	</p>
	<dl class="dl-horizontal span6">
		<dt>Type</dt>
		<dd>Humanoide</dd>
		<dt>Taille</dt>
		<dd>Entre 1m40 et 1m70 <br />(<em>Valeur maximale pour la Taille : 12</em>)</dd>
		<dt>Professions</dt>
		<dd>Agriculteur, Chasseur, Shaman, Artisan</dd>
	</dl>
</div>

